
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    background: #fff;
}

h2 {
    margin-bottom: 0;
}

svg {
    width: 100%;
    height: auto;
}

//product
.c-product {
    background-image: url("/images/product-background.png");
    color: #fff;
    cursor: pointer;
    margin-bottom: 25px;
}

.c-product__overlay {
    transition-duration: 0.4s;
    transition-timing-function: ease-in;
    -webkit-transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-in;

    &:hover {
        background: rgba(255, 255, 255, 0.7);
        color: #000;
    }
}
//coffee animation
p {
   transform: translate(-50%, -50%);
   position: absolute;
   top: 57%;
   left: 49%;
   font-family: Fredoka One;
   font-size: 25px;
   color: transparent;
   text-shadow: -1px -1px 0 #A31919, -1px 1px 0 #7b0000, 1px -1px 0 #7b0000, 1px 1px 0 #7b0000;
}

/* ANIMATE LIQUID FILL */
.liquid {
   transform: translateX(100%);
   transform: translateY(100%);
   opacity: 0.8;
   animation: fill 3.2s;
   animation-fill-mode: forwards;
}

@keyframes fill {
   0%{
      opacity: 0.5;
      transform: translateY(100%);
   }
   100%{
      transform: translateY(0);
      opacity: 1;
   }
}

/* ANIMATE STEAM */
.steam {
   stroke: #F7F7F7;
   stroke-width: 1.5px;
   stroke-dasharray: 200;
   stroke-dashoffset: 200;
   opacity: 0.2;
   animation: steamAnimate 2.5s;
   animation-delay: 3.3s;
   animation-fill-mode: forwards;
}

@keyframes steamAnimate{
	0%{
		stroke-dashoffset: 200;
	}
	  
	100%{
		stroke-dashoffset: 0;
	}
}
